<banner>
    <div id="large-header" class="large-header">
        <canvas id="canvas"></canvas>
        <div class="main-title">
            <img src="{{.Site.BaseURL}}{{ .Site.Params.hiveLogo }}" width="550" height="300"  alt="Apache Software Foundation">
            <h1 class="text-outline black-text">Apache  Hive v4</h1>
            <h4 class="thin"> The Apache Hive ™ is a distributed, fault-tolerant data warehouse system that enables analytics at a massive scale and
                facilitates reading, writing, and managing petabytes of data residing in distributed storage using SQL.</h4>
            <a href="https://github.com/apache/hive" class="icon-block">
                <button class="custom-button banner-button-style" role="button">Github <i class="fa fa-github" style="font-size:35px"></i></button>
            </a>
            <a href="https://lists.apache.org/list.html?dev@hive.apache.org" class="icon-block">
                <button class="custom-button banner-button-style" role="button">Mail <i class="fa fa-envelope" style="font-size:35px"></i></button>
            </a>
            <a href="https://lists.apache.org/list.html?dev@hive.apache.org" class="icon-block">
                <button class="custom-button banner-button-style" role="button">Community <i class='fa fa-comments' style='font-size:35px'></i></button>
            </a>
        </div>
    </div>
    <script  src="{{ .Site.BaseURL }}/js/script.js"></script>
</banner>