<!---
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License. -->

<banner>
    <div id="large-header" class="large-header">
        <canvas id="canvas"></canvas>
        <div class="main-title">
            <a href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}{{ .Site.Params.hiveLogo }}" width="550" height="300"  alt="Apache Software Foundation"></a>
            <h1 class="text-outline black-text">Apache  Hive </h1>
            <h4 class="thin"> The Apache Hive ™ is a distributed, fault-tolerant data warehouse system that enables analytics at a massive scale and
                facilitates reading, writing, and managing petabytes of data residing in distributed storage using SQL.</h4>
            <a href="{{ .Site.Params.banner.github }}" class="icon-block">
                <button class="custom-button banner-button-style" role="button">Github <i class="fab fa-github" style="font-size:35px"></i></button>
            </a>
            <a href="{{.Site.BaseURL}}{{ .Site.Params.navbar.mailinglists }}" class="icon-block">
                <button class="custom-button banner-button-style" role="button">Mail <i class="fa-solid fa-envelope" style="font-size:35px"></i></button>
            </a>
            <a href="{{ .Site.Params.banner.docker }}" class="icon-block">
                <button class="custom-button banner-button-style" role="button">Docker <i class="fab fa-docker" style='font-size:35px'></i></button>
            </a>
            <a href="{{ .Site.Params.banner.jira }}" class="icon-block">
                <button class="custom-button banner-button-style" role="button">Community <i class='fa-solid fa-comments' style='font-size:35px'></i></button>
            </a>
        </div>
    </div>
    <script  src="{{ .Site.BaseURL }}/js/script.js"></script>
</banner>
