<!---
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License. -->

<banner>
    <div id="large-header" class="large-header">
        <canvas id="canvas"></canvas>
        <div class="main-title">
            <div class="hero-content">
                <div class="hero-logo">
                    <a href="{{.Site.BaseURL}}">
                        <img src="{{.Site.BaseURL}}{{ .Site.Params.hiveLogo }}" width="450" height="250" alt="Apache Hive Logo" class="responsive-logo">
                    </a>
                </div>
                <div class="hero-text">
                    <h1 class="hero-title">Apache Hive</h1>
                    <p class="hero-subtitle">Distributed Data Warehouse at Massive Scale</p>
                    <p class="hero-description">
                        The Apache Hive™ is a distributed, fault-tolerant data warehouse system that enables analytics at a massive scale and
                        facilitates reading, writing, and managing petabytes of data residing in distributed storage using SQL.
                    </p>
                </div>
                <div class="hero-actions">
                    <div class="primary-actions">
                        <a href="{{.Site.BaseURL}}{{ .Site.Params.navbar.gettingStarted }}" class="btn btn-primary btn-lg">
                            <i class="fas fa-rocket"></i> Get Started
                        </a>
                        <a href="{{ .Site.Params.banner.github }}" class="btn btn-outline-light btn-lg">
                            <i class="fab fa-github"></i> View on GitHub
                        </a>
                    </div>
                    <div class="secondary-actions">
                        <a href="{{ .Site.Params.banner.docker }}" class="action-link">
                            <i class="fab fa-docker"></i>
                            <span>Docker</span>
                        </a>
                        <a href="{{.Site.BaseURL}}{{ .Site.Params.navbar.mailinglists }}" class="action-link">
                            <i class="fa-solid fa-envelope"></i>
                            <span>Mailing Lists</span>
                        </a>
                        <a href="{{ .Site.Params.banner.jira }}" class="action-link">
                            <i class="fa-solid fa-comments"></i>
                            <span>Community</span>
                        </a>
                        <a href="{{.Site.BaseURL}}{{ .Site.Params.navbar.latest }}" class="action-link">
                            <i class="fas fa-book"></i>
                            <span>Documentation</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ .Site.BaseURL }}/js/script.js"></script>
</banner>
