<compaction class="col-md">
    <div id="termynal" data-termynal data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
        <span data-ty="input">jdbc:hive2://.../default>ALTER TABLE test COMPACT "MAJOR";</span>
        <span data-ty>Done!</span>
        <span data-ty="input">jdbc:hive2://.../default>ALTER TABLE test COMPACT "MINOR";</span>
        <span data-ty>Done!</span>
        <span data-ty="input">jdbc:hive2://.../default> SHOW COMPACTIONS;</span>
        <span data-ty>Done!</span>
    </div>
    <script  src="{{ .Site.BaseURL }}/js/termynal.js"></script>
</compaction>