<!---
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License. -->

<features class="container text-style white-background">
    <div>
        <div class="row feature-intro">
            <div class="row section-header-style">
                <h2 class="section-header-text" style="text-align: center;">What is Hive?</h2>
            </div>
            <p>
                Apache Hive is a distributed, fault-tolerant data warehouse system that enables analytics at a massive scale.
                Hive Metastore(HMS) provides a central repository of metadata that can easily be analyzed to make informed,
                data driven decisions, and therefore it is a critical component of many data lake architectures.

                Hive is built on top of Apache Hadoop and supports storage on S3, adls, gs etc though hdfs.
                Hive allows users to read, write, and manage petabytes of data using SQL.
            </p>
        </div>
        <div class="row section-header-style">
            <h2 class="section-header-text" style="text-align: center;">Key Features</h2>
        </div>
        <div class="row divs">
            {{- partial "hs2terminal.html" . -}}
            <div class="col-md feature-border">
                <h2 class="topic-text-style">Hive-Server 2 (HS2)</h2>
                <p>
                    HS2 supports multi-client concurrency and authentication.
                    It is designed to provide better support for open API clients like JDBC and ODBC.
                </p>
                <a href="{{ .Site.Params.features.hs2 }}" class="icon-block">
                    <button class="custom-button feature-button-style" role="button">Learn More</button>
                </a>
            </div>
        </div>

        <div class="row divs">
            <div class="col-md feature-border">
                <h2 class="topic-text-style">Hive Metastore Server (HMS)</h2>
                <p>
                    The Hive Metastore (HMS) is a central repository of metadata for Hive tables and partitions in a relational database,
                    and provides clients (including Hive, Impala and Spark) access to this information using the metastore service API.
                    It has become a building block for data lakes that utilize the diverse world of open-source software, such as Apache Spark and Presto.
                    In fact, a whole ecosystem of tools, open-source and otherwise, are built around the Hive Metastore, some of which this diagram illustrates.
                </p>
                <a href="{{ .Site.Params.features.hms }}" class="icon-block">
                    <button class="custom-button feature-button-style" role="button">Learn More</button>
                </a>
            </div>
            <div class="col-md">
                <a href="{{ .Site.Params.features.hms }}">
                    <img src="{{.Site.BaseURL}}/images/HMS.jpg" width="600" height="400"  alt="Apache Software Foundation"></a>
                </a>
            </div>
        </div>

        <div class="row divs">
            <div class="col-md ">
                <a href="{{ .Site.Params.features.acidTxn }}">
                    <img src="{{.Site.BaseURL}}/images/hiveAcid.svg" width="300" height="300"  alt="Apache Software Foundation"></a>
                </a>
            </div>
            <div class="col-md feature-border">
                <h2 class="topic-text-style">Hive ACID</h2>
                <p>
                    Hive provides full ACID support for <a href="https://orc.apache.org/">ORC</a> tables and insert only support to all other formats.
                </p>
                <a href="{{ .Site.Params.features.acidTxn }}" class="icon-block">
                    <button class="custom-button feature-button-style" role="button">Learn More</button>
                </a>
            </div>
        </div>

        <div class="row divs">
            <div class="col-md feature-border">
                <h2 class="topic-text-style">Hive Data Compaction</h2>
                <p>
                    Query-based and MR-based data compactions are supported out-of-the-box.
                </p>
                <a href="{{ .Site.Params.features.compactions }}" class="icon-block">
                    <button class="custom-button feature-button-style" role="button">Learn More</button>
                </a>
            </div>
            <div class="col-md">
                {{- partial "compaction.html" . -}}
            </div>
        </div>


        <div class="row divs">
            <div class="col-md">
            </div>
            <div class="col-md feature-border">
                <h2 class="topic-text-style">Hive Replication</h2>
                <p>
                    Hive supports bootstap and incremental replication for backup and recovery.
                </p>
                <a href="{{ .Site.Params.features.repl }}" class="icon-block">
                    <button class="custom-button feature-button-style" role="button">Learn More</button>
                </a>
            </div>

        </div>


        <div class="row divs">

            <div class="col-md feature-border">
                <h2 class="topic-text-style">Security and Observability</h2>
                <p>
                    Apache Hive supports kerberos auth and integrates with Apache Ranger and Apache Atlas for security and
                    observability.
                </p>
                <a href="https://atlas.apache.org/1.2.0/Hook-Hive.html" class="icon-block">
                    <button class="custom-button feature-button-style" role="button">Learn More</button>
                </a>
            </div>
            <div  class="col-md">
                <img src="{{.Site.BaseURL}}/images/ker.jpeg" width="200" height="150"  alt="Apache Software Foundation"></a>
                <img src="{{.Site.BaseURL}}/images/atlas.png" width="400" height="100"  alt="Apache Software Foundation"></a>
                <img src="{{.Site.BaseURL}}/images/ranger.png" width="400" height="100"  alt="Apache Software Foundation"></a>
            </div>
        </div>
        <div class="row divs">
            <div class="col-md">
                <img src="{{.Site.BaseURL}}/images/llap.png" width="600" height="350"  alt="Apache Software Foundation"></a>
            </div>
            <div class="col-md feature-border">
                <h2 class="topic-text-style">Hive LLAP</h2>
                <p>
                    Apache Hive enables interactive and subsecond SQL through Low Latency Analytical Processing (LLAP),
                    introduced in Hive 2.0 that makes Hive faster by using persistent query infrastructure and optimized data caching
                </p>
                <a href="{{ .Site.Params.features.llap }}" class="icon-block">
                    <button class="custom-button feature-button-style" role="button">Learn More</button>
                </a>
            </div>

        </div>
        <div class="row divs">

            <div class="col-md feature-border">
                <h2 class="topic-text-style">Query planner and Cost based Optimizer</h2>
                <p>
                    Hive uses Apache Calcite's cost based query optimizer (CBO) and query execution framework to optimize sql queries.
                </p>
                <a href="{{ .Site.Params.features.cbo }}" class="icon-block">
                    <button class="custom-button feature-button-style" role="button">Learn More</button>
                </a>
            </div>
            <div class="col-md">
                {{- partial "explain.html" . -}}
            </div>
        </div>
    </div>
</features>
