/*
   Licensed to the Apache Software Foundation (ASF) under one
   or more contributor license agreements.  See the NOTICE file
   distributed with this work for additional information
   regarding copyright ownership.  The ASF licenses this file
   to you under the Apache License, Version 2.0 (the
   "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing,
   software distributed under the License is distributed on an
   "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   KIND, either express or implied.  See the License for the
   specific language governing permissions and limitations
   under the License.
   */
 html {
     width: 100%;
     height: 100%;
     font-size: 15px;
     scroll-padding-top: 4rem;
     scroll-behavior: smooth;
     min-height: 100vh;
}
 section {
     display: flex;
     margin-left: 150px;
     margin-right: 0;
}

 .content {
     margin-bottom: 2rem;
     display: flex;
     min-height: 100vh;
     flex-direction: column;
}
.docs {
     margin: 10px;
     padding:20px;
}
 .use-grid{
     padding: 20px;
     display: grid;
     grid-gap: 10px;
     font-size: 16px;
}
.two-col-grid{
     grid-template-columns: 0.5fr 2fr;
}

.two-col-eq-grid{
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 50px;
}

.card-shadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #000000;
  height: 300px;
  width: 600px;
}

.divs {
    color: black;
    margin: 10px;
    padding-top: 40px;
    padding-bottom:40px;
    grid-template-columns: 1fr;
    box-shadow: 0px 3px #206cd6;
}
.feature-border{
    padding-bottom: 20px;
}
.white-background{
    background-color: white;
}
.black-background{
     background-color: black;
}
.blue-background{
    background-color: #206cd6;
}
.lightblue-background{
    background-color: #BBE1FA;
}

.white-text{
     color: white;
}

.text-style{
    text-align: justify;
    text-justify: inter-word;
}
.black-text{
     color: black;
}

 a{
     color: #206cd6;
     text-decoration: none;
}
 a:hover {
     color: teal;
     text-decoration: underline;
}

.header-text{
    color: white;
    font-weight: bold;
    font-size: 25px;
}
 .navbar{
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100%;
     background: black;
     padding: 10px;
}
 .navbar__right{
     display: flex;
}
 .navbar__right a{
     text-decoration: none;
     font-size: 14px;
     margin-right: 10px;
     color: white;
     transition: all 100ms;
}
 .navbar__right a:hover{
     text-decoration: underline;
     font-weight: bold;
}
 main{
     margin: 0 200px;
}
 .copyright {
     grid-column-start: 1;
     grid-column-end:3;
     grid-row-start: 2;
     font-size: 14px;
     text-align: center;
}
 .large-header {
     position: relative;
     width: 100%;
     overflow: hidden;
     background-position: center center;
     z-index: 1;
}
 #large-header {
     background: #206cd6;
}
 .main-title {
     position: absolute;
     margin: 0;
     padding: 0;
     color: #f9f1e9;
     text-align: center;
     top: 50%;
     left: 50%;
     -webkit-transform: translate3d(-50%,-50%,0);
     transform: translate3d(-50%,-50%,0);
     width:100%;

}

.text-outline{
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight:600;
}
 .thin {
     width: 100%;
     font-weight: 400;
     color: white;
}
 .black-color {
     color: black;
}

.feature-intro{
    color: black;
    margin: 30px;
    padding: 40px;
    grid-template-columns: 1fr;
}

.row-padding{
    padding: 40px;
}

.banner-button-style {
     font-family: "Open Sans", sans-serif;
     font-size: 25px;
     text-decoration: none;
     letter-spacing: 1px;
     color: #000;
}

.feature-button-style{
     font-family: "Open Sans", sans-serif;
     font-size: 20px;
     text-decoration: none;
}

.topic-text-style{
     font-family: "Open Sans", sans-serif;
     font-size: 30px;
     font-weight: 300;
}
.section-header-text{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
.section-header-style{
     border: 3px solid;
     padding: 0.5em 0.5em;
     margin: 10px;
     box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
     position: relative;
     background: #206cd6;
     }

/* CSS */
 .custom-button {
     cursor: pointer;
     border: 3px solid;
     padding: 0.25em 0.5em;
     margin: 10px;
     box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
     position: relative;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
}
 .custom-button:active {
     box-shadow: 0px 0px 0px 0px;
     top: 5px;
     left: 5px;
}
 @media (min-width: 768px) {
     .custom-button {
         padding: 0.25em 0.75em;
    }
}

.footer-text{
    color:grey;
    padding-top:2%;
    font-size: 1.1rem;
}

p,
.splendor-p {
  font-size: 1.2rem;
  margin-bottom: 1.0rem;
  padding-top: 1rem;
  padding-bottom:0rem;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

blockquote p {
  font-size: 1rem;
  font-style: italic;
  margin: 1rem auto 1rem;
  max-width: 48rem;
}

li {
  margin-left: 2rem;
  font-size: 1.2rem;
}

pre,
code {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

pre {
  background-color: #fafafa;
  font-size: 1rem;
  overflow-x: scroll;
  padding: 1.125em;
  display: inline-flex;
}

h1{
padding-top:3rem
}
h4{
padding: 2rem;
}

table {
    width:50%;
    border-collapse: collapse;
  }


  table, td {
    border: 2px solid #ccc;
    padding: 5px;
  }

th{
    color:white;
    text-transform:uppercase;
    border: 1px solid #ccc;
    background: black;
    font-size: 20px;
    font-weight:200;
}

  tr{
    border: 1px solid #ccc;
    background: #FFFFFF;
  }

td:nth-child(2n){
      border: 1px solid #ccc;
    }

td:nth-child(2n+1) {
      border: 1px solid #ccc;
    }

row{
    padding: 20px;
}

span{
 word-wrap: break-word;
}